.urbanismeToolbar {
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 1000;
    margin-bottom: 35px;
    margin-right: 5px;
}

.urbanismeToolbar.vertical {
    width: 40px;
}

.urbanismeToolbar.vertical .btn {
    margin: 0;
}

.table-parcelle.table {
    width: 400px;
    border: 1px solid #dddddd;
}

.parcelle-table-label, .parcelle-table-value {
    width: 200px;
}

.parcelle-table-label {
    background-color: #696969;
    color: lightgrey;
    font-weight: bold;
}
.parcelle_ads h2, .parcelle_nru h2, .parcelle_ads h3, .parcelle_nru h3 {
    margin-top: 0;
    font-weight: bold;
}

.parcelle_nru .table-parcelle td {
    padding: 4px;
}

#modal-land-panel-dialog {
    position: fixed;
    top: 0;
    left: 20%;
    z-index: 1000 !important;
}
