# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master, 'V2.*' ]
  pull_request:
    branches: [ master, 'V2.*' ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'true'
    - name: Use Node.js 16.x
      uses: actions/setup-node@v2
      with:
        node-version: '16.x'
     ############
     # CACHING
     ##########
    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: ~/.npm
        key: npm-${{ hashFiles('package-lock.json') }}
        restore-keys: npm-
    - run: npm install
    - run: npm run lint
    - run: npm test
    - run: npm run ext:build
    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v4.6.1
      with:
        name: Artifacts
        path: dist/Urbanisme.zip
        retention-days: 5
